{% extends "shop_app/base.html" %}

{% block title %}
    HOME
{% endblock %}

{% load static %}

{% block heading %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'shop_app/img/main.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Fun</span>
            <span class="section-heading-lower">The best stock</span>
          </h2>
          <p class="mb-3">We send our games to your home. You can ask us for personalisation.
          </p>

        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block message %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Total commitment</span>
              <span class="section-heading-lower">Entertainment guaranteed</span>
            </h2>
            <p class="mb-0">More than 50 games edited by our company.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}