{% extends "shop_app/base.html" %}

{% block title %}
    SERVICE
{% endblock %}

{% block heading %}
    Service
{% endblock %}

{% block message %}
    <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Compromiso total</span>
              <span class="section-heading-lower">Garantizado</span>
            </h2>
            <p class="mb-0">SERVICE TESTS</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}