{% extends "shop_app/base.html" %}

{% block title %}
    SHOP
{% endblock %}

{% block message %}
    CART
  </button>
  <div class ="row">
    {% for item in items %}
    <div class ="col-md-3">
      <div class="card" style="margin-top: 10px;">

        {% if item.image %}
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{{item.image.url}}"
        class="card-img-top">
        {% endif %}

        <div class="card-body">
            <h7 class="card-title" >
                {{item.name}}
            </h7>
            <p class="card-text">
                {{item.price}}&nbsp;€
            </p>
        </div>

        <div class="card-footer text-center">
          <a href="{% url 'add_item' item.id %}" class="btn btn-success" value="{{item.id}}">
            Add to cart
          </a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>

  <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="width: 30%; margin: auto; font-size: 0.8em;">
    <p>Categories:</p>
      {% for category in categories %}
        <a href="{% url 'item_category' category.id %}">
          {{category.name}}&nbsp;
        </a>
      {% endfor %}
  </div>
  <div class="fixed-bottom" style="width:fit-content; height: fit-content; margin-left: auto; margin-right: 20px; background-color: green">
    {% include "cart/widget.html" %}
  </div>

{% endblock %}